.container
  .header
    .logo
    ul
      li 首頁
      li 甜點
      li 登入
      li
        .cart
    .me-hamber
    .me-logo
    .me-cart
  img.bigimg(src="https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/banner.png?raw=true")
  .item
    ul.item_left
      li.select 甜點類別
      li.all 所有甜點（48）
      li 本日精選（10）
      li 人氣推薦（26）
      li 新品上市（12）
    .item_right
      .desert
        .top
          .deimg.img1
          .today 本日精選
          .love
        .middle
          h3.name 焦糖馬卡龍
          h3.money NT$ 450
        h2.bottom 加入購物車
      .desert
        .top
          .deimg.img2
          .today 本日精選
          .love
        .middle
          h3.name 焦糖馬卡龍
          h3.money NT$ 450
        h2.bottom 加入購物車
      .desert
        .top
          .deimg.img3
          .today 本日精選
          .love
        .middle
          h3.name 焦糖馬卡龍
          h3.money NT$ 450
        h2.bottom 加入購物車
      .desert
        .top
          .deimg.img4
          .today 本日精選
          .love
        .middle
          h3.name 焦糖馬卡龍
          h3.money NT$ 450
        h2.bottom 加入購物車
      .desert
        .top
          .deimg.img5
          .today 本日精選
          .love
        .middle
          h3.name 焦糖馬卡龍
          h3.money NT$ 450
        h2.bottom 加入購物車
      .desert
        .top
          .deimg.img6
          .today 本日精選
          .love
        .middle
          h3.name 焦糖馬卡龍
          h3.money NT$ 450
        h2.bottom 加入購物車
  .page
    .box
      .page_left
    .box.one 1
    .box 2
    .box 3
    .box
      .page_right
.fotter-bg
  .fotter
    .swtitle
      .fotter_logo
      .fotter_title 訂閱你我的甜蜜郵件
    .swsearch
      .meil   
      .gobg
        .go
.bottom-bg
  .bottom
    .bottom_left
      .bottom_logo
      h3.bottom_phone 07-1234-5678  
      h3.btoom_email sweetaste@email.com
      h3.bottom_address 800 高雄市新興區幸福路 520 號
    .bottom_right
      .slogn1 今天是個——
      .slogn2 吃甜點的好日子。
    .bottom_bottom
      .bottom-icon
        .email
        .fb
      .bottom-allright © 2018 Sweetaste* All Rights Reserved